body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github-link {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    transition: color 0.3s;
}

.github-link:hover {
    color: #ddd;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.project-content {
    padding: 1rem;
}

.project h3 {
    margin-top: 0;
}

.project ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
/* Stack Symbols inside every const project*/
.project-content i {  
    font-size: 2rem;
    margin-right: 0.5rem;
}

.stack {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.stack i {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: 1fr;
    }
}
